docs/n8n-connectors/template-file-import.json
{
  "name": "Connector - CSV/Excel -> Cerebro",
  "nodes": [
    {
      "parameters": {},
      "id": "manual",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "fromFile",
        "filePath": "/data/imports/tickets.csv"
      },
      "id": "read_csv",
      "name": "Read CSV",
      "type": "n8n-nodes-base.spreadsheetFile",
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "return items.map((item, idx) => {\n  const row = item.json;\n  return {\n    json: {\n      ticket_id: String(row.ticket_id || row.id || `csv-${idx}`),\n      cliente: String(row.cliente_nome || row.cliente || 'Cliente sem nome'),\n      canal: String(row.canal || 'outro'),\n      mensagens: String(row.mensagem || row.texto || row.descricao || ''),\n      tecnico: String(row.tecnico || 'Importacao CSV'),\n      data_evento: String(row.data_evento || row.created_at || new Date().toISOString()),\n      metadata: {\n        sourceSystem: String($env.SOURCE_SYSTEM || 'file'),\n        sourceEntityId: String(row.ticket_id || row.id || idx),\n        tenantId: String($env.TENANT_ID || 'default'),\n        ingestionId: `file-${Date.now()}-${idx}`\n      }\n    }\n  };\n});"
      },
      "id": "normalize",
      "name": "Normalize Canonical",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ ($env.CEREBRO_BASE_URL || 'http://127.0.0.1:3100') + '/api/ingestao/willtalk' }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}"
      },
      "id": "push_cerebro",
      "name": "Push to Cerebro",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4
    }
  ],
  "connections": {
    "Manual Trigger": { "main": [[{ "node": "Read CSV", "type": "main", "index": 0 }]] },
    "Read CSV": { "main": [[{ "node": "Normalize Canonical", "type": "main", "index": 0 }]] },
    "Normalize Canonical": { "main": [[{ "node": "Push to Cerebro", "type": "main", "index": 0 }]] }
  }
}
