docs/n8n-workflow-cerebro-v4-universal.json
{
  "name": "cerebro_operacional_v4_universal",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "cerebro-ingestao",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "node_webhook",
      "name": "1. Webhook Entry (qualquer fonte)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 300],
      "notes": "Recebe eventos de qualquer sistema: WillTalk, ERP, CRM, etc.\nURL: http://SEU-N8N:5678/webhook/cerebro-ingestao"
    },
    {
      "parameters": {
        "jsCode": "// Normaliza payload de qualquer fonte para o contrato canônico do Cérebro\nconst root = $json;\nconst src = (root.body && typeof root.body === 'object' && !Array.isArray(root.body))\n  ? { ...root, ...root.body }\n  : root;\n\nfunction toText(v) {\n  if (v == null) return '';\n  if (typeof v === 'string') return v;\n  if (typeof v === 'number' || typeof v === 'boolean') return String(v);\n  if (Array.isArray(v)) return v.map(toText).join('\\n');\n  if (typeof v === 'object') {\n    if (v.text != null) return toText(v.text);\n    if (v.mensagem != null) return toText(v.mensagem);\n    if (v.content != null) return toText(v.content);\n    if (v.body != null) return toText(v.body);\n    return '';\n  }\n  return String(v);\n}\n\nfunction toCliente(v) {\n  if (!v) return 'Cliente';\n  if (typeof v === 'string') return v.trim() || 'Cliente';\n  if (typeof v === 'object') {\n    const n = v.name || v.nome || v.pushName || '';\n    return String(n).trim() || 'Cliente';\n  }\n  return 'Cliente';\n}\n\nconst mensagem = toText(\n  src.mensagem ?? src.message ?? src.mensagens ?? src.messages ??\n  (typeof src.body === 'string' ? src.body : '') ?? ''\n).replace(/\\s+/g, ' ').trim();\n\nif (!mensagem || mensagem.length < 1) {\n  throw new Error('Payload sem mensagem valida');\n}\n\nconst ticketRaw = src.ticket_id ?? src.ticket?.id ?? src.conversation_id ?? src.conversationId ?? '';\nconst ticket_id = String(ticketRaw).trim() || ('auto-' + Date.now());\n\nconst cliente_nome = toCliente(\n  typeof src.cliente === 'object' && src.cliente !== null\n    ? src.cliente\n    : src.contact || src.customer || (typeof src.cliente === 'string' ? src.cliente : null)\n);\n\nconst canal = src.canal ?? src.channel ?? src.source ?? 'webhook';\n\nconst sourceSystem = src.metadata?.sourceSystem ?? src.source_system ?? src.sourceSystem ?? 'n8n-webhook';\nconst sourceEntityId = src.metadata?.sourceEntityId ?? src.source_entity_id ?? ticket_id;\nconst tenantId = src.metadata?.tenantId ?? src.tenant_id ?? src.organization_id ?? 'default';\nconst ingestionId = src.metadata?.ingestionId ?? src.ingestion_id ?? ('ing-' + Date.now() + '-' + Math.random().toString(36).slice(2, 8));\nconst dataEvento = src.data_evento ?? src.dataEvento ?? src.timestamp ?? new Date().toISOString();\nconst tecnico = src.tecnico ?? src.agent ?? src.assignee ?? 'n8n';\n\nreturn [{\n  json: {\n    ticket_id,\n    cliente: cliente_nome,\n    canal,\n    mensagens: mensagem,\n    tecnico,\n    data_evento: dataEvento,\n    metadata: {\n      sourceSystem,\n      sourceEntityId,\n      tenantId,\n      ingestionId\n    },\n    _texto_consulta: mensagem\n  }\n}];"
      },
      "id": "node_normalizar",
      "name": "2. Normalizar Payload (universal)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.CEREBRO_BASE_URL }}/api/ingestao/v1/events",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Authorization", "value": "=Bearer {{ $env.CEREBRO_INGEST_TOKEN }}" },
            { "name": "X-Source-System", "value": "={{ $json.metadata.sourceSystem }}" },
            { "name": "X-Source-Entity-Id", "value": "={{ $json.metadata.sourceEntityId }}" },
            { "name": "X-Tenant-Id", "value": "={{ $json.metadata.tenantId }}" },
            { "name": "X-Ingestion-Id", "value": "={{ $json.metadata.ingestionId }}" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": { "timeout": 15000 },
        "continueOnFail": false
      },
      "id": "node_ingerir",
      "name": "3. Ingerir no Cerebro (/api/ingestao/v1/events)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [720, 300],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.status }}",
              "operation": "equal",
              "value2": "duplicate_ignored"
            }
          ]
        }
      },
      "id": "node_check_dedup",
      "name": "4. Evento Duplicado?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [980, 300]
    },
    {
      "parameters": { "amount": 8, "unit": "seconds" },
      "id": "node_wait",
      "name": "5. Aguardar Processamento IA (8s)",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [1240, 200],
      "notes": "Aguarda o after() do Next.js processar o ticket com IA e gerar embedding"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.CEREBRO_BASE_URL }}/api/query/v1",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Authorization", "value": "=Bearer {{ $env.CEREBRO_INGEST_TOKEN }}" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ texto: $('2. Normalizar Payload (universal)').item.json._texto_consulta, audience: 'atendente' }) }}",
        "options": { "timeout": 30000 }
      },
      "id": "node_query",
      "name": "6. Consultar Cerebro (/api/query/v1)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1500, 200],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 3000,
      "notes": "Busca semantica + resposta assistida em uma unica chamada"
    },
    {
      "parameters": {
        "jsCode": "const query = $json;\nconst ingest = $('3. Ingerir no Cerebro (/api/ingestao/v1/events)').item.json;\nconst normalizado = $('2. Normalizar Payload (universal)').item.json;\n\nreturn [{\n  json: {\n    status: 'processado',\n    atendimento_id: ingest.atendimento_id,\n    ticket_id: normalizado.ticket_id,\n    cliente: normalizado.cliente,\n    canal: normalizado.canal,\n    confianca: query.confianca,\n    resposta_sugerida: query.resposta,\n    casos_encontrados: query.casos?.length ?? 0,\n    audience: query.audience,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "node_output",
      "name": "7. Formatar Output Final",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1760, 200]
    },
    {
      "parameters": {
        "jsCode": "const ingest = $('3. Ingerir no Cerebro (/api/ingestao/v1/events)').item.json;\nconst normalizado = $('2. Normalizar Payload (universal)').item.json;\n\nreturn [{\n  json: {\n    status: 'duplicate_ignored',\n    ticket_id: normalizado.ticket_id,\n    dedup_key: ingest.dedupKey ?? 'N/A',\n    message: 'Evento ja processado anteriormente — ignorado por deduplicacao',\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "node_dedup_log",
      "name": "8. Log Duplicata Ignorada",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1240, 440]
    }
  ],
  "connections": {
    "1. Webhook Entry (qualquer fonte)": {
      "main": [[{ "node": "2. Normalizar Payload (universal)", "type": "main", "index": 0 }]]
    },
    "2. Normalizar Payload (universal)": {
      "main": [[{ "node": "3. Ingerir no Cerebro (/api/ingestao/v1/events)", "type": "main", "index": 0 }]]
    },
    "3. Ingerir no Cerebro (/api/ingestao/v1/events)": {
      "main": [[{ "node": "4. Evento Duplicado?", "type": "main", "index": 0 }]]
    },
    "4. Evento Duplicado?": {
      "main": [
        [{ "node": "8. Log Duplicata Ignorada", "type": "main", "index": 0 }],
        [{ "node": "5. Aguardar Processamento IA (8s)", "type": "main", "index": 0 }]
      ]
    },
    "5. Aguardar Processamento IA (8s)": {
      "main": [[{ "node": "6. Consultar Cerebro (/api/query/v1)", "type": "main", "index": 0 }]]
    },
    "6. Consultar Cerebro (/api/query/v1)": {
      "main": [[{ "node": "7. Formatar Output Final", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "tags": ["cerebro", "producao", "v4", "universal"],
  "_instrucoes": {
    "variaveis_ambiente_n8n": {
      "CEREBRO_BASE_URL": "http://localhost:3000 (ou URL Vercel em producao)",
      "CEREBRO_INGEST_TOKEN": "Mesmo valor de CEREBRO_INGEST_TOKEN do .env.local"
    },
    "como_importar": "n8n → Settings → Import from file → selecionar este JSON",
    "como_ativar": "Apos importar e configurar variaveis, clicar no toggle 'Active' no workflow",
    "webhook_url": "Apos ativar: http://SEU-N8N:5678/webhook/cerebro-ingestao",
    "fontes_suportadas": [
      "WillTalk (via webhook)",
      "ERP (qualquer sistema que faca HTTP POST)",
      "CRM",
      "Formulario web",
      "Qualquer fonte com payload JSON"
    ],
    "diferenca_v3_v4": [
      "v4 usa /api/ingestao/v1/events (contrato canonico) em vez de /api/ingestao/willtalk",
      "v4 usa /api/query/v1 (busca + resposta em uma chamada) em vez de /api/resposta-assistida",
      "v4 usa variaveis de ambiente ($env) em vez de URLs hardcoded",
      "v4 inclui Authorization header com CEREBRO_INGEST_TOKEN em todos os nos HTTP",
      "v4 propaga headers X-Source-System, X-Tenant-Id, X-Ingestion-Id para deduplicacao",
      "v4 trata duplicatas explicitamente (branch de dedup)",
      "v4 nao depende do WillTalk — funciona com qualquer fonte"
    ]
  }
}
