docs/n8n-07-03-versao2.json
{
  "name": "n8n-07-03-versao2",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "willtalk-ingestao",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "node_webhook",
      "name": "1. Webhook (entrada)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [220, 320]
    },
    {
      "parameters": {
        "jsCode": "const src = $json.body && typeof $json.body === 'object' ? { ...$json, ...$json.body } : $json;\n\nconst expectedIngressToken = $env.N8N_INGRESS_TOKEN || '';\nconst authHeader = String(src.headers?.authorization || src.headers?.Authorization || '').trim();\nif (expectedIngressToken) {\n  if (!authHeader.startsWith('Bearer ') || authHeader.slice(7) !== expectedIngressToken) {\n    throw new Error('Unauthorized webhook ingress token');\n  }\n}\n\nfunction toText(v) {\n  if (v == null) return '';\n  if (typeof v === 'string') return v;\n  if (Array.isArray(v)) return v.map(toText).join(' ');\n  if (typeof v === 'object') return toText(v.text || v.mensagem || v.content || v.body || '');\n  return String(v);\n}\n\nfunction pickCliente(input) {\n  if (!input) return { nome: 'Cliente', telefone: '' };\n  if (typeof input === 'string') return { nome: input.trim() || 'Cliente', telefone: '' };\n  return {\n    nome: String(input.nome || input.name || input.pushName || 'Cliente').trim() || 'Cliente',\n    telefone: String(input.telefone || input.phone || input.phoneNumber || '').trim(),\n  };\n}\n\nconst mensagem = toText(src.mensagem || src.mensagens || src.message || src.messages || '').replace(/\\s+/g, ' ').trim();\nif (!mensagem) throw new Error('Mensagem vazia no payload');\n\nconst clienteObj = pickCliente(src.cliente || src.customer || src.contact || null);\nconst clienteTelefone = String(src.cliente_telefone || src.telefone || src.phone || src.contact?.phoneNumber || clienteObj.telefone || src.from || '').replace(/\\D/g, '');\n\nconst ticketId = String(src.ticket_id || src.ticket?.id || src.conversation_id || src.conversationId || '').trim();\n\nreturn [{\n  json: {\n    ticket_id: ticketId,\n    cliente: {\n      nome: clienteObj.nome,\n      telefone: clienteTelefone,\n    },\n    cliente_nome: clienteObj.nome,\n    cliente_telefone: clienteTelefone,\n    mensagens: mensagem,\n    canal: 'whatsapp',\n    tecnico: String(src.tecnico || src.assignee || 'n8n').trim(),\n    data_evento: src.data_evento || src.timestamp || new Date().toISOString(),\n    organization_id: src.organization_id || src.organizationId || null,\n    event_id: src.event_id || `evt-${Date.now()}`,\n    raw: src\n  }\n}];"
      },
      "id": "node_normalizar",
      "name": "2. Normalizar Dados",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 320]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:4002/api/webhooks/n8n/ticket-upsert",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ event_id: $json.event_id, canal: 'whatsapp', organization_id: $json.organization_id || undefined, cliente: { nome: $json.cliente.nome, telefone: $json.cliente.telefone }, mensagem: $json.mensagens, ticket_id: $json.ticket_id || undefined }) }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + ($env.WILLTALK_WEBHOOK_TOKEN || 'SEU_WILLTALK_WEBHOOK_TOKEN') }}"
            }
          ]
        },
        "options": {
          "timeout": 15000
        }
      },
      "id": "node_triagem",
      "name": "3. Triagem WillTalk",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [780, 320],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 2000,
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.triageCompleted }}",
              "operation": "equal",
              "value2": true
            }
          ]
        },
        "options": {}
      },
      "id": "node_if_triagem",
      "name": "4. Triagem Completa?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [1040, 320]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:3000/api/ingestao/willtalk",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ ticket_id: $('2. Normalizar Dados').item.json.ticket_id || $json.ticketId || $json.conversationId, cliente: $('2. Normalizar Dados').item.json.cliente_nome, canal: 'whatsapp', mensagens: $('2. Normalizar Dados').item.json.mensagens, tecnico: $('2. Normalizar Dados').item.json.tecnico, data_evento: $('2. Normalizar Dados').item.json.data_evento }) }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + ($env.CEREBRO_API_TOKEN || 'SEU_API_BEARER_TOKEN_DO_CEREBRO') }}"
            },
            {
              "name": "X-Source-System",
              "value": "willtalk"
            },
            {
              "name": "X-Source-Entity-Id",
              "value": "={{ $('2. Normalizar Dados').item.json.ticket_id || $json.ticketId || $json.conversationId }}"
            },
            {
              "name": "X-Tenant-Id",
              "value": "default"
            },
            {
              "name": "X-Ingestion-Id",
              "value": "={{ 'ing-' + Date.now() + '-' + Math.random().toString(36).slice(2, 8) }}"
            }
          ]
        },
        "options": {
          "timeout": 12000
        }
      },
      "id": "node_ingestao",
      "name": "5. Ingestao OK? (Cerebro)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1300, 220],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.status }}",
              "operation": "equals",
              "value2": "ok"
            }
          ]
        },
        "options": {}
      },
      "id": "node_if_ingest_ok",
      "name": "5.1 Ingestao Retornou OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [1520, 220]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:3000/api/triagem",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ organization_id: $('2. Normalizar Dados').item.json.organization_id || '', ticket_id: $('2. Normalizar Dados').item.json.ticket_id || $('3. Triagem WillTalk').item.json.ticketId || '', conversation_id: $('3. Triagem WillTalk').item.json.conversationId || '', cliente_nome: $('2. Normalizar Dados').item.json.cliente_nome || 'Cliente', cliente_telefone: $('2. Normalizar Dados').item.json.cliente_telefone || '', canal: 'whatsapp', mensagem_atual: $('2. Normalizar Dados').item.json.mensagens, historico_conversa: $('2. Normalizar Dados').item.json.raw?.historico_conversa || '', filas_disponiveis_json: $('2. Normalizar Dados').item.json.raw?.filas_disponiveis_json || [], horario_comercial_aberto: $('2. Normalizar Dados').item.json.raw?.horario_comercial_aberto ?? true, tentativas_triagem: $('3. Triagem WillTalk').item.json.menuAttempts || $('2. Normalizar Dados').item.json.raw?.tentativas_triagem || 0, idioma_preferencial: $('2. Normalizar Dados').item.json.raw?.idioma_preferencial || 'pt-BR', metadados_json: $('2. Normalizar Dados').item.json.raw || {} }) }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + ($env.CEREBRO_API_TOKEN || 'SEU_API_BEARER_TOKEN_DO_CEREBRO') }}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "node_resposta_ia",
      "name": "6. Triagem IA (Cerebro)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1740, 220],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 3000,
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:4002/api/webhooks/n8n/ticket-upsert",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ event_id: $('2. Normalizar Dados').item.json.event_id, canal: 'whatsapp', organization_id: $('2. Normalizar Dados').item.json.organization_id || 'org_willtalk-40733', cliente: { nome: $('2. Normalizar Dados').item.json.cliente_nome, telefone: $('2. Normalizar Dados').item.json.cliente_telefone }, mensagem: $('2. Normalizar Dados').item.json.mensagens, queue_id: $json.queue_id || $env.WILLTALK_DEFAULT_QUEUE_ID || undefined, metadata: { reply_text: ($json.reply_text || 'Recebemos seu chamado e já encaminhamos para o time responsável.'), triage_completed: String($json.triage_completed ?? false), prioridade: String($json.prioridade || 'media'), severidade: String($json.severidade || 'S3'), human_handoff: String($json.human_handoff ?? false), confidence: String($json.confidence ?? 0.5), resumo_triagem: String($json.resumo_triagem || 'triagem registrada pelo cerebro') } }) }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + ($env.WILLTALK_WEBHOOK_TOKEN || 'SEU_WILLTALK_WEBHOOK_TOKEN') }}"
            }
          ]
        },
        "options": {
          "timeout": 12000
        }
      },
      "id": "node_aplicar_triagem",
      "name": "6.1 Aplicar Triagem no WillTalk",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1880, 220],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 2000,
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.should_reply }}",
              "operation": "equal",
              "value2": true
            }
          ]
        },
        "options": {}
      },
      "id": "node_if_should_reply",
      "name": "6.2 Should Reply?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [2000, 220]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:4002/api/webhooks/cerebro/reply",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ ticket_id: $('2. Normalizar Dados').item.json.ticket_id || $('3. Triagem WillTalk').item.json.ticketId || $('3. Triagem WillTalk').item.json.conversationId, cliente: $('2. Normalizar Dados').item.json.cliente_nome || 'Cliente', canal: 'whatsapp', resposta_sugerida: $json.reply_text || $json.resposta_sugerida || $json.resposta || 'Sem sugestão', origem: 'cerebro-operacional', data_evento: $now }) }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + ($env.WILLTALK_WEBHOOK_TOKEN || 'SEU_WILLTALK_WEBHOOK_TOKEN') }}"
            }
          ]
        },
        "options": {
          "timeout": 12000
        }
      },
      "id": "node_reply_willtalk",
      "name": "7. Enviar Resposta WillTalk",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2240, 140],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 2000,
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { status: 'triagem_pendente', triageCompleted: false, action: $json.action || null, shouldReply: $json.shouldReply || false, ticketId: $json.ticketId || $json.conversationId || $('2. Normalizar Dados').item.json.ticket_id || null, timestamp: new Date().toISOString() } }];"
      },
      "id": "node_log_pendente",
      "name": "8. Log Triagem Pendente",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1300, 440]
    },
    {
      "parameters": {
        "jsCode": "const src = $input.first().json || {};\nconst respostaEnviada = Boolean(src.resposta_sugerida || src.resposta);\nreturn [{ json: { status: 'sucesso', ticket_id: $('2. Normalizar Dados').item.json.ticket_id || null, atendimento_id: $('5.1 Ingestao Retornou OK?').item.json.atendimento_id || null, resposta_enviada: respostaEnviada, timestamp: new Date().toISOString() } }];"
      },
      "id": "node_log_sucesso",
      "name": "9. Log Sucesso",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2480, 220]
    },
    {
      "parameters": {
        "jsCode": "const origem = $input.first().json || {};\nreturn [{ json: { status: 'erro', error: origem.error || origem.message || 'erro_fluxo', detalhe: origem, ticket_id: $('2. Normalizar Dados').item.json.ticket_id || null, timestamp: new Date().toISOString() } }];"
      },
      "id": "node_log_erro",
      "name": "10. Tratar Erro",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2240, 360]
    }
  ],
  "pinData": {},
  "connections": {
    "1. Webhook (entrada)": {
      "main": [
        [
          {
            "node": "2. Normalizar Dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "2. Normalizar Dados": {
      "main": [
        [
          {
            "node": "3. Triagem WillTalk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "3. Triagem WillTalk": {
      "main": [
        [
          {
            "node": "5. Ingestao OK? (Cerebro)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "4. Triagem Completa?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "5. Ingestao OK? (Cerebro)": {
      "main": [
        [
          {
            "node": "5.1 Ingestao Retornou OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "5.1 Ingestao Retornou OK?": {
      "main": [
        [
          {
            "node": "6. Triagem IA (Cerebro)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "10. Tratar Erro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "6. Triagem IA (Cerebro)": {
      "main": [
        [
          {
            "node": "6.1 Aplicar Triagem no WillTalk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "6.1 Aplicar Triagem no WillTalk": {
      "main": [
        [
          {
            "node": "6.2 Should Reply?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "6.2 Should Reply?": {
      "main": [
        [
          {
            "node": "7. Enviar Resposta WillTalk",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "9. Log Sucesso",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "7. Enviar Resposta WillTalk": {
      "main": [
        [
          {
            "node": "9. Log Sucesso",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "4. Triagem Completa?": {
      "main": [
        [
          {
            "node": "8. Log Triagem Pendente",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "8. Log Triagem Pendente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "2",
  "tags": ["willtalk", "cerebro", "n8n", "postgres", "triagem"]
}
