docs/n8n-workflow-cerebro-corrigido.json
{
  "name": "cerebro_operacional_v4_corrigido",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "mavoai-ingest",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "node_webhook",
      "name": "1. Webhook MAVO.AI",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 300]
    },
    {
      "parameters": {
        "jsCode": "const root = $json;\nconst src =\n  root.body && typeof root.body === 'object' && !Array.isArray(root.body)\n    ? { ...root, ...root.body }\n    : root;\n\nfunction toText(v) {\n  if (v == null) return '';\n  if (typeof v === 'string') return v;\n  if (typeof v === 'number' || typeof v === 'boolean') return String(v);\n  if (Array.isArray(v)) return v.map(toText).join('\\n');\n  if (typeof v === 'object') {\n    if (v.text != null) return toText(v.text);\n    if (v.mensagem != null) return toText(v.mensagem);\n    if (v.content != null) return toText(v.content);\n    if (v.body != null) return toText(v.body);\n    return '';\n  }\n  return String(v);\n}\n\nfunction toCliente(v) {\n  if (!v) return 'Cliente';\n  if (typeof v === 'string') return v.trim() || 'Cliente';\n  if (typeof v === 'object') {\n    const n = v.name || v.nome || v.pushName || '';\n    return String(n).trim() || 'Cliente';\n  }\n  return 'Cliente';\n}\n\nconst mensagem = toText(\n  src.mensagem ?? src.message ?? src.mensagens ?? src.messages ?? (typeof src.body === 'string' ? src.body : '') ?? ''\n).replace(/\\s+/g, ' ').trim();\n\nif (!mensagem || mensagem.length < 1) {\n  throw new Error('Payload sem mensagem valida');\n}\n\nconst ticketRaw = src.ticket_id ?? src.ticket?.id ?? src.conversation_id ?? src.conversationId ?? '';\nconst ticket_id = String(ticketRaw).trim();\n\nconst cliente_nome = toCliente(\n  typeof src.cliente === 'object' && src.cliente !== null\n    ? src.cliente\n    : src.contact || src.customer || (typeof src.cliente === 'string' ? src.cliente : null),\n);\n\nlet cliente_telefone = String(\n  src.cliente_telefone ??\n    src.telefone ??\n    src.phone ??\n    src.phoneNumber ??\n    (typeof src.cliente === 'object' && src.cliente !== null\n      ? (src.cliente.telefone || src.cliente.phone || '')\n      : '') ??\n    src.contact?.phoneNumber ??\n    src.from ??\n    ''\n).replace(/\\D/g, '');\n\nif ((!cliente_telefone || cliente_telefone.length < 8) && typeof src.cliente === 'string') {\n  const d = src.cliente.replace(/\\D/g, '');\n  if (d.length >= 8) cliente_telefone = d;\n}\n\nif (!cliente_telefone || cliente_telefone.length < 8) {\n  throw new Error(\n    'Telefone ausente. WillTalk 2025+ envia cliente_telefone no JSON do webhook; reinicie o servidor WillTalk apos atualizar.',\n  );\n}\n\nconst canal = 'whatsapp';\nconst event_id = src.event_id ?? src.externalId ?? 'evt-' + Date.now() + '-' + Math.random().toString(36).slice(2, 8);\nconst organization_id = src.organization_id ?? src.organizationId ?? '';\nconst data_evento = src.data_evento ?? src.dataEvento ?? src.timestamp ?? new Date().toISOString();\n\nreturn [{\n  json: {\n    ticket_id,\n    event_id,\n    organization_id,\n    canal,\n    cliente_nome,\n    cliente_telefone,\n    mensagem,\n    data_evento,\n    texto: mensagem\n  }\n}];"
      },
      "id": "node_normalizar",
      "name": "2. Normalizar Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.WILLTALK_URL || 'http://localhost:4002' }}/api/webhooks/n8n/ticket-upsert",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ event_id: $json.event_id, canal: 'whatsapp', organization_id: $json.organization_id || undefined, cliente: { nome: $json.cliente_nome, telefone: $json.cliente_telefone }, mensagem: $json.mensagem, ticket_id: $json.ticket_id || undefined }) }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.WILLTALK_TOKEN || '***REMOVED-MTALK-TOKEN***' }}"
            }
          ]
        },
        "options": {
          "timeout": 15000
        }
      },
      "id": "node_upsert_willtalk",
      "name": "3. Upsert + Triagem WillTalk",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [720, 300],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.triageCompleted }}",
              "value2": true,
              "operation": "equal"
            }
          ]
        }
      },
      "id": "node_if_triagem",
      "name": "4. Triagem Completa?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [980, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.MAVOAI_URL || 'http://localhost:3000' }}/api/ingestao/willtalk",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ ticket_id: $('2. Normalizar Payload').item.json.ticket_id || $('3. Upsert + Triagem WillTalk').item.json.conversationId, cliente: $('2. Normalizar Payload').item.json.cliente_nome, canal: 'whatsapp', data_evento: $('2. Normalizar Payload').item.json.data_evento, mensagens: $('2. Normalizar Payload').item.json.mensagem }) }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.MAVOAI_TOKEN || '***REMOVED-MTALK-TOKEN***' }}"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "id": "node_salvar_cerebro",
      "name": "5. Salvar no Cerebro (MAVO.AI)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1240, 200],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.MAVOAI_URL || 'http://localhost:3000' }}/api/resposta-assistida",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ texto: $('2. Normalizar Payload').item.json.texto }) }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.CEREBRO_INTERNAL_TOKEN || 'internal_secret_token_123' }}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "node_gerar_resposta",
      "name": "6. Gerar Resposta IA",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1500, 200],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 3000
    },
    {
      "parameters": {
        "jsCode": "const triageData = $('3. Upsert + Triagem WillTalk').item.json;\nconst normalizado = $('2. Normalizar Payload').item.json;\n\nreturn [{\n  json: {\n    status: 'triagem_pendente',\n    action: triageData.action,\n    menuAttempts: triageData.menuAttempts,\n    shouldReply: triageData.shouldReply,\n    replyText: triageData.replyText,\n    reason: 'Triagem nao completa — resposta de menu enviada pelo WillTalk diretamente via WhatsApp. Cerebro nao gera resposta AI ate a triagem finalizar.',\n    ticket_id: normalizado.ticket_id || triageData.conversationId\n  }\n}];"
      },
      "id": "node_triagem_pendente",
      "name": "7. Log Triagem Pendente",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1240, 440]
    }
  ],
  "pinData": {},
  "connections": {
    "1. Webhook MAVO.AI": {
      "main": [
        [
          {
            "node": "2. Normalizar Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "2. Normalizar Payload": {
      "main": [
        [
          {
            "node": "3. Upsert + Triagem WillTalk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "3. Upsert + Triagem WillTalk": {
      "main": [
        [
          {
            "node": "4. Triagem Completa?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "4. Triagem Completa?": {
      "main": [
        [
          {
            "node": "5. Salvar no Cerebro (MAVO.AI)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "7. Log Triagem Pendente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "5. Salvar no Cerebro (MAVO.AI)": {
      "main": [
        [
          {
            "node": "6. Gerar Resposta IA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "5",
  "tags": ["mavoai", "cerebro", "willtalk", "triagem", "ia"]
}